/*
 *{
	border: 0.5px dashed gray;
}
*/

/* BASIC */


html{
	margin:auto;
	background-color: #C5BFBD;
	}

body{
	font-family: 'brandon-grotesque', sans-serif;
	text-align: center;
	line-height: 200%;
	margin: 0px;
	}

h1{
	font-size: 5em;
	/*pink #F03C86*/
	color: #F03C86;
	}

h2 {
	font-size: 1.8em;
	font-weight: 400;
	color: #F03C86;
	}

h3{
	font-size: 1.5em;
	font-weight: 300;
	color: #8C6239;
	}

h4 {
	text-align: left;
	text-decoration: underline;
	letter-spacing: 0.2em;
	font-weight: 900;
}

h5 {
	text-align: left;
}

p{
	text-align: left;
	font-size: 1.15em;
	font-weight: 300;
}

/* A */

a:link {
	color: #F03C86;
	}

a:hover {
	color: #F03C86;
	}

a:visited {
	color: #F03C86;
	}


/* Img & containers */

#projects {
	background-color: #B8BFC7;
	padding: 5%;
}

#projects p {
	height: 500px;
	vertical-align: text-bottom;
	width: 80%;
	height: 100%
	margin-left: 20%;
	vertical-align: bottom;
}


#projects h1 { 
}


.container {
	width: 25%;
	display: inline-block;
	border: 0px;
	margin: 0px;
}

.container img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.container_1_5col {
	width: 35%;
	display: inline-block;
	border: 0px;
	margin: 0px;	
}

.container_1_5col img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.container_2col {
	width: 50%;
	display: inline-block;
	border: 0px;
	margin: 0px;	
}

.container_2col img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}


#projects .container {
	float: left;
}



/* ME */

#me {
	background-color: #C8BBD0;
	padding: 5%;
}

#me_description {
	width: 50%;
	display: inline-block;
}


#me .container {
	width: 40%;
	overflow: hidden;
	float: right;
}

#me p {
	font-size: 1.05em;
}


/* CONTACT */

#contact {
	background-color:#D2C6C9;
	padding: 5%;
}




/* IN PAGES */

/* nav */

.exit {
	font-size: 6em;
	font-weight: 100;
	color: black !important;	
	text-decoration: none;
	right: 5%;
	top: 5%;
	position: fixed;
}

/* in_content */

.in_content {
	margin-left: 15%;
	margin-right: 25%;
	margin-top: 5%;
}

.in_content .container {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
}

.in_content p {
	margin-left: 25%;
}

.in_content h1 {
	color: black !important;
	font-size: 3.5em;
	text-align: left;
}

.in_content h2 {
	color: black !important;
	font-weight: 300;
	font-size: 1.5em;
	text-align: left;
	line-height: 150%;
	margin-bottom: 2em;
}

.details {
	width: 22%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5%;
	margin-left: 0px;
	padding-left: 0px;
	border: 0px;
}

	#left {
		float: left;
	}

	#right {
		float: right;
	}

.details p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 160%;
	margin: 0;
}

.details h5 {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: 0.3em;
	font-weight: 700;
}
